<section class="content">
        <div class="box box-default">
            <div class="box-header">
                <i class="fa fa-user-plus"></i>
                <h3 class="box-title">用户开户</h3>
                <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
            </div>
            <div class="box-body">
                <div class="container">
                <form class="form-horizontal form-well" role="form" action="/admin/users/add" method="post">
                <input type="hidden" name="_xsrf" value="d83e80143d5f44e08755b2dd93adf48c"/>
                    <div class="form-group">
            <label class="col-sm-4 control-label" id="lab_node_id" for="node_id">区域</label>
            <div class="col-sm-6">
            <select required="required" placeholder="区域" class="form-control" name="node_id" id="node_id">
             <option value="1">默认区域</option>
            </select>
    
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" id="lab_realname" for="realname">姓名</label>
            <div class="col-sm-6">
            <input name="realname"  required="required" id="realname" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" id="lab_account_number" for="account_number">账号</label>
            <div class="col-sm-6">
            <input name="name"  required="required" id="account_number" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" id="lab_password" for="password">密码</label>
            <div class="col-sm-6">
            <input name="password"  required="required" id="password" type="text" class="form-control"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 control-label" id="lab_submit" for="submit"></label>
            <div class="col-sm-6">
            <button name="submit" placeholder="submit" id="submit" type="submit" class="btn btn-md bg-navy"><b>提交</b></button>
            </div>
        </div>
    
            </form>
        </div>
    </div>
    </div>
        </section>